body {
    border: 1px solid;
    font-family: verdana;
}

html {
    scroll-behavior: smooth;
}

/* Nav styling starts here */

li {
    display: inline;
    border: 1px solid;
    padding: 10px;
    margin: 100px;
}

nav {
    margin: 10px;
    border: 1px solid;
}

a {
    color: black;
    text-decoration: none;
}

/* grid-container starts here */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding: 10px;
}

.grid-container > .item {
    border: 1px solid;
    height: 400px;
}

#bio {
    grid-column: span 2;
    font-family: verdana;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#prof {
    background-image: url(../img/shanton.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;    
}

#classmate1 {
    background-image: url(../img/shakeel.jpg);
    background-size: cover;
}

#classmate2 {
    background-image: url(../img/daniel.jpg);
    background-size: cover;
}

#classmate3 {
    background-image: url(../img/ashton.jpg);
    background-size: cover;
}

#nate {
    grid-column: span 3;
    text-align: center;
}

img {
    height: 380px;
    padding: 10px;
    float: left;
}


